 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: lightcyan;
 }

 .todo-form, .todo-container {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 20px;
 }
